{{ define "main" }}
<article class="markdown">
  <h1>Browse by Author</h1>
  
  {{ $authorGroups := slice }}
  
  {{ range .Pages }}
    {{ $authorName := .Title }}
    {{ $parts := split $authorName " " }}
    {{ $lastName := index $parts (sub (len $parts) 1) }}
    {{ $firstLetter := upper (substr $lastName 0 1) }}
    
    {{ $authorGroups = $authorGroups | append (dict "letter" $firstLetter "page" . "lastName" $lastName) }}
  {{ end }}
  
  {{ $currentLetter := "" }}
  {{ range sort $authorGroups "lastName" }}
    {{ if ne .letter $currentLetter }}
      {{ if $currentLetter }}</ul>{{ end }}
      <h2>{{ .letter }}</h2>
      <ul>
      {{ $currentLetter = .letter }}
    {{ end }}
    <li>
      <a href="{{ .page.RelPermalink }}">{{ .page.Title }}</a>
      <span style="color: #666;">({{ len .page.Pages }} papers)</span>
    </li>
  {{ end }}
  {{ if $currentLetter }}</ul>{{ end }}
</article>
{{ end }}
