{{ define "main" }}
<article class="markdown">
  <h1>Browse by Tag</h1>
  
  {{ $tagGroups := slice }}
  
  {{ range .Pages }}
    {{ $tagName := .Title }}
    {{ $firstLetter := upper (substr $tagName 0 1) }}
    
    {{ $tagGroups = $tagGroups | append (dict "letter" $firstLetter "page" . "name" $tagName) }}
  {{ end }}
  
  {{ $currentLetter := "" }}
  {{ range sort $tagGroups "name" }}
    {{ if ne .letter $currentLetter }}
      {{ if $currentLetter }}</ul>{{ end }}
      <h2>{{ .letter }}</h2>
      <ul>
      {{ $currentLetter = .letter }}
    {{ end }}
    <li>
      <a href="{{ .page.RelPermalink }}">{{ .page.Title }}</a>
      <span style="color: #666;">({{ len .page.Pages }} papers)</span>
    </li>
  {{ end }}
  {{ if $currentLetter }}</ul>{{ end }}
</article>
{{ end }}
